*.iml
.idea
target
atlassian-ide-plugin.xml
.settings
.classpath
.DS_Store
.project
**/test.csv
**/test.json
**/test.xml
build
.gradle
.gradletasknamecache
/.apt_generated/
/bin/
local.properties
src/test/resources/dynamic/*
